{{ form_start(coasterForm) }}
        {{ form_widget(coasterForm) }}
        <button type="submit" class="btn btn-primary">Ajouter/modifier une montagne russe</button>
        <a href ="{{ path('app_coaster_index') }}" class="btn btn-secondary">Retour</a>
    {{ form_end(coasterForm) }}